<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860930629251-9o76igcu9521hi5qup73cql42u4g19r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860930629251-9o76igcu9521hi5qup73cql42u4g19r4</string>
	<key>API_KEY</key>
	<string>AIzaSyD-76Zt-HZW1-f1Ki1p1C33tffXd-_Y2AE</string>
	<key>GCM_SENDER_ID</key>
	<string>860930629251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olgam.kidsdevelopment</string>
	<key>PROJECT_ID</key>
	<string>kids-development</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860930629251:ios:0e06c51004f9a53d6845b6</string>
	<key>DATABASE_URL</key>
	<string>https://kids-development.firebaseio.com</string>
</dict>
</plist>